<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card border-0 shadow">
                <div class="card-header bg-primary text-white">
                    <h6 class="m-0 font-weight-bold"><i class="fas fa-car"></i> Edit CAR</h6>
                </div>
                <div class="card-body">
                    <form action="/cars/<%= id %>" method="POST">
                        <div class="form-group">
                            <label class="font-weight-bold">Nama</label>
                            <input type="text" class="form-control" name="nama" value="<%= nama %>" required>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Sewa Per Hari</label>
                            <input type="number" class="form-control" name="sewa" value="<%= sewa %>" required>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Ukuran</label>
                            <select name="ukuran" class="form-control" required>
                                <option value="small" <%= ukuran ==='small' ? 'selected' : '' %>>Small</option>
                                <option value="medium" <%= ukuran ==='medium' ? 'selected' : '' %>>Medium</option>
                                <option value="large" <%= ukuran ==='large' ? 'selected' : '' %>>Large</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Foto</label>
                            <input type="text" class="form-control" name="foto" value="<%= foto %>" required
                                placeholder="Masukkan Link Gambar Ex: https://placeimg.com/640/480/any">
                        </div>
                        <div class="form-group">
                            <a href="/cars" class="btn btn-warning"><i class="fas fa-arrow-left"></i> Kembali</a>
                            <input type="submit" class="btn btn-primary" value="Simpan">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>